#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  background-color: #60101d;
 
}
.templelogo {
  width: 80px;  /* You can use px, %, em, rem, etc. */
  height: auto;  /* Keeps aspect ratio */
}


.scroll-container {
  max-height: 200px;  /* Limits height to 200px */
  overflow-y: auto;  /* Enables vertical scrolling */
  padding: 10px;
  width: 250px;  /* Adjust width as needed */
}


.dropdown {
  list-style-type: none;
  border: 1px solid #ffffff;
  width: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 40;
  padding-top: 20;
  margin: auto;
  margin-top: 15px;
  background-color: #500f0f00;
}

.dropdown li {
  padding: 10px;
  padding-top: 20;
  margin-bottom: 20;
  transition: background-color 0.3s;
}


.dropdown li:hover {
  background-color: #b5969b56;
  cursor: pointer;
}
.selected-courses {
  list-style: none; 
}

.card {
  padding: 2em;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.read-the-docs {
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  column-gap: 30px;
}

.container > div {
  /* background-color: #0c1b7c9e; */
  /* border: 5px solid #08346d81; */
  padding: 50px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 4px;
  text-align: 'center';
  flex-grow: 2;
}


ul {
  list-style-type: none;  
  padding: 0;             
  margin: 0;              
}

button {
  background-color: #ffffff; /* Light blue */
  color: #60101d;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  gap: 20px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b5969b;
}